.contacts {
    padding-bottom: 0;
}

.contacts__outer {
    @include mobile-block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.contacts__inner {
    position: relative;
    @include mobile(width, 100%);
}

.contacts__plunk {
    position: absolute;
    display: inline-block;
    background: #F9F9F9;
    backdrop-filter: blur(55px);
    border-radius: 25px 25px 0px 0px;
    padding: 174px 107px 58px;
    right: 0;
    top: -35px;
    z-index: 3000;
    min-height: 590px;
    width: 100%;
    max-width: 538px;
    @include mobile-block {
        position: relative;
        min-height: auto;
        max-width: 100%;
        top: -60px;
        background: transparent;
        padding: 25px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts__plunk::before {
    @include mobile-block {
        content: '';
        position: absolute;
        top: 0;
        right: -15px;
        bottom: 0;
        left: -15px;
        background: var(--color-white);
        border-radius: 25px 25px 0 0;
        z-index: -1;
    }
    @include mobileXS-block {
        right: -10px;
        left: -10px;
    }
}

.contacts__mark {
    position: absolute;
    top: -10px;
    right: 50px;
    @include mobile(display, none);
}

.contacts__address {
    display: flex;
    flex-direction: column;
}

.contacts__info {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contacts__info ~ .contacts__info {
    margin-top: 21px;
}

.contacts__icon {
    margin-right: 13px;
}

.contacts__svg-icon {
    display: block;
}

.contacts__action {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    @include mobile-block {
        align-items: start;
        margin-top: 30px;
    }
}

.contacts__button + .contacts__button {
    margin-top: 10px;
}

.contacts__map {
    height: 100%;
    max-height: 555px;
    @include mobile(order, -1);
}