.contacts__plunk {
    position: relative;
    display: inline-block;
    background: #F9F9F9;
    backdrop-filter: blur(55px);
    border-radius: 25px 25px 0px 0px;
    padding: 174px 107px 94px;
}

.contacts__map {
    min-height: 555px;
}