.services__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 45px 100px;
    @include large(grid-gap, 40px);
    @include mobileXS(grid-template-columns, repeat(auto-fit, minmax(300px, 1fr)));
}

.services__item {
    display: flex;
    align-items: center;
    padding: 25px 15px 25px 25px;
    border-radius: 25px;
}

.services__pic {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}

.services__icon {
    display: block;
    width: 40px;
}

.services__text {
    margin: 0 20px auto 25px;
}

.services__descr {
    margin-top: 25px;
}

.services__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 14px;
    text-decoration: none;
    background: var(--color-white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: auto;
}

.services__arrow-svg {
    display: block;
}