{% include "partials/_header.html" %}

<section class="projects bg--white block-padding">
    <div class="projects__container container">
        <h2 class="projects__heading title title--big title--dark-gray title--w-normal title--uppercase title--indent center">
            Проекты
        </h2>
        <div class="projects__body">
            <div class="projects__items">
                <a href="" class="projects__card">
                    <div class="projects__pic">
                        <img src="img/projects/projects-img-1.png" alt="" class="projects__img">
                    </div>
                </a>
                <a href="" class="projects__card">
                    <div class="projects__pic">
                        <img src="img/projects/projects-img-2.png" alt="" class="projects__img">
                    </div>
                </a>
                <a href="" class="projects__card">
                    <div class="projects__pic">
                        <img src="img/projects/projects-img-3.png" alt="" class="projects__img">
                    </div>
                </a>
                <a href="" class="projects__card">
                    <div class="projects__pic">
                        <img src="img/projects/projects-img-4.png" alt="" class="projects__img">
                    </div>
                </a>
            </div>
            <div class="projects__action">
                <a href="javascript:;" class="button button--blue">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>

{% include "partials/_footer.html" %}