{% include "partials/_header.html" %}

<!-- Service -->
<section class="service bg--white block-padding">
    <div class="service__body container">
        <div class="service__inner">
            <div class="service__left-column">
                <div class="service__heading">
                    <div class="service__pic">
                        <img src="img/uploads/service-icon-1.svg" alt="" class="service__icon">
                    </div>
                    <h1 class="service__title title title--av-big title--dark-gray title--uppercase">
                        Организация деловых мероприятий
                    </h1>
                </div>
                <p class="service__descr text text--large text--dark-gray text--w-light">
                    Организация деловых и образовательных мероприятий по РФ под “ключ”. Семинары, конференции, деловые встречи, круглые столы в режимах оффлайн и онлайн
                </p>
                <div class="service__price">
                    <span class="service__new-price text text--normal text--dark-gray text--w-light">
                        От <span class="service__new-price-num text text--big text--dark-gray text--w-regular" data-old-price="24 750">17 500</span> рублей
                    </span>
                </div>
                <div class="service__actions">
                    <button class="service__btn button button--blue button--sale">
                        Заказать
                    </button>
                </div>
            </div>
            <div class="service__right-column">
                <div class="service__pic">
                    <img src="img/uploads/service-img-1.png" alt="" class="service__img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Service -->

{% include "partials/_footer.html" %}