{% include "partials/_header.html" %}

<!-- Squad -->
<section class="squad bg--white block-padding">
    <div class="squad__body container">
        <h2 class="squad__heading title title--big title--dark-gray title--w-normal title--uppercase title--indent center">
            Наша команда
        </h2>
        <div class="squad__items">
            <article class="squad__card">
                <div class="squad__pic">
                    <img src="img/uploads/squad-photo-1.jpg" alt="" class="squad__photo">
                </div>
                <h3 class="squad__name title title--medium title--white title--w-normal">
                    Кровякова <br> Анна <br> Александровна
                </h3>
                <p class="squad__descr bg--white text text--large text--dark-gray text--w-light">
                    Руководитель Общественной приёмной Уполномоченного по защите прав молодёжного предпринимательства в городе Москве, управляющий партнёр международной консалтинговой компании FINCOM group, президент фонда регионального экономического развития «Инвестиции и Регионы», автор проектов ECOfriends и PokolenieF, член оргкомитета всероссийского конкурса «Приоритеты Роста».
                </p>
            </article>
            <article class="squad__card">
                <div class="squad__pic">
                    <img src="img/uploads/squad-photo-2.jpg" alt="" class="squad__photo">
                </div>
                <h3 class="squad__name title title--medium title--white title--w-normal">
                    Иванов <br> Алексей <br> Михайлович
                </h3>
                <p class="squad__descr bg--white text text--large text--dark-gray text--w-light">
                    Эксперт pro bono Общественной приёмной Уполномоченного по защите прав молодёжного предпринимательства в городе Москве. Алексей является практикующим юристом в компании ООО «Финком». Закончил юридический факультет МГУ, обучается в магистратуре по программе двойного диплома в Московской Высшей школе социальных и экономических наук.
                </p>
            </article>
            <article class="squad__card">
                <div class="squad__pic">
                    <img src="img/uploads/squad-photo-3.jpg" alt="" class="squad__photo">
                </div>
                <h3 class="squad__name title title--medium title--white title--w-normal">
                    Камшилина <br> Кристина <br> Владимировна
                </h3>
                <p class="squad__descr bg--white text text--large text--dark-gray text--w-light">
                    Эксперт pro bono Общественной приёмной Уполномоченного по защите прав молодёжного предпринимательства в городе Москве. Кристина - практикующий юрист компании ООО «Финком». Окончила Институт публичного права и управления Московского государственного юридического университет имени О.Е. Кутафина (МГЮА).
                </p>
            </article>
        </div>
    </div>
</section>
<!-- /. Squad -->

{% include "partials/_footer.html" %}