/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--gray-milk {
        background-color: var(--color-gray-milk);
    }
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-orange);
}

/* Block-padding */

.block-padding {
    padding: 48px 0;
    @include tablet(padding, 40px 0);
}

/* Title */

.title {
    font-family: var(--font-gotham);
    font-style: normal;
    margin: 0;
    &--huge {
        font-size: responsive 45px 100px;
        font-range: 360px 1440px;
    }
    &--big {
        font-size: responsive 16px 45px;
        font-range: 360px 1440px;
    }
    &--large {
        font-size: responsive 20px 26px;
        font-range: 1024px 1440px;
    }
    &--medium {
        font-size: responsive 18px 22px;
        font-range: 1024px 1440px;
    }
    &--small {
        font-size: 16px;
    }
    &--white {
		color: var(--color-white);
	}
    &--dark-gray {
		color: var(--color-dark-gray);
	}
    &--dark-gray-low {
		color: var(--color-dark-gray-low);
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-normal {
		font-weight: 400;
	}
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 45px;
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--dark-gray {
		color: var(--color-dark-gray); 
	}
    &--dark-gray-low {
		color: var(--color-dark-gray-low);
	}
	&--white {
		color: var(--color-white);
	}
	&--big {
        font-size: 22px;
	}
	&--large {
        font-size: 18px;
	}
	&--normal {
        font-size: 16px;
	}
	&--small {
		font-size: 14px;
	}
    &--w-thin {
		font-weight: 200;
    }
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
    }
	&--w-black {
		font-weight: 900;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}