:root {
    --color-blue: #2F89DF;
	--color-white: #FFFFFF;
	--color-gray-milk: rgba(245, 245, 245, 1);
    --color-dark-gray: #606060;
    --color-dark-gray-low: #555555;
    --color-yellow: #EEFF00;
    --color-invalid: #e61d1d;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}