:root {
    --color-blue: #2F89DF;
	--color-white: #FFFFFF;
    --color-dark-gray: #606060;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "GothamPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}