.header {
    position: sticky;
    top: 0;
    z-index: 5000;
    transition: transform .3s ease-in-out;
}

.header.is-out {
    transform: translateY(-100%);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 26px;
    @include tablet-block {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header__wrapp {
    display: flex;
    align-items: center;
}

.header__info {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__info ~ .header__info {
    margin-top: 15px;
}

.header__icon-info {
    margin-right: 10px;
}

.header__action {
    margin-left: 40px;
}

.header__outer-menu {
    border: 1px solid rgba(18, 18, 18, 0.07);
    @include tablet-block {
        position: absolute;
        background: rgba(255,255,255,.8);
        backdrop-filter: blur(25px);
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility .2s ease-out, opacity .2s ease-out;
    }
}

.header__outer-menu.is-open .header__menu-item {
    @include tablet(opacity, 0);
}

.header__inner {
    @include tablet-block {
        padding: 30px 0;
    }
}

.header__menu-list {
    display: flex;
    justify-content: center;
    @include tablet-block {
        flex-direction: column;
        align-items: center;   
    }
}

.header__menu-item.menu__item ~ .header__menu-item.menu__item  {
    margin: 0;
}

.header__menu-item.is-active .menu__link {
    color: var(--color-blue);
    background: #F5F5F5;
    @include tablet(background, transparent);
}

.header__menu-link.menu__link {
    padding: 27px 48px 28px;
    border-bottom: none;
    background: transparent;
    transition: background .2s ease-in-out;
    @include tablet(padding, 15px 48px 15px);
}

.header__menu-link.menu__link:hover {
    background: #F5F5F5;
    border-bottom: none;
}