.button {
    font-family: var(--font-roboto);
    font-weight: 400;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    border-radius: 25px;
    padding: 11px 35px;
    z-index: 10;
    transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out, box-shadow .2s ease-in-out;
}

.button__svg-icon {
    display: block;
    fill: var(--color-white);
    transition: fill .2s ease-in-out;
}

.button__icon--left {
    margin-right: 10px;
}

.button__icon--right {
    margin-left: 10px;
}

.button--blue {
    border: 1px solid transparent;
}

.button--blue {
    color: var(--color-white);
    background: var(--color-blue);
}

.button--blue:hover {
    color: var(--color-blue);
    background: var(--color-white);
    border: 1px solid var(--color-blue);
}

.button--blue:hover .button__svg-icon {
    fill: var(--color-blue);
}

.button--icon {
    display: inline-flex;
    align-items: center;
}