.burger-menu {
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: none;
    align-items: center;
    margin-left: 40px;
    @include tablet(display, flex);
}

.burger-menu__line {
    display: block;
    position: relative;
    width: 40px;
    height: 2px;
    background-color: #0B5FFF;
}

.burger-menu__line,
.burger-menu__line::before,
.burger-menu__line::after {
    border-radius: 50px;
    transition: transform .2s ease-in-out, top .2s ease-in-out, background-color .1s ease-in-out, width .2s ease-in-out;
}

.burger-menu__line::before,
.burger-menu__line::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background: #0B5FFF;
}

.burger-menu__line::before {
    bottom: 0;
    left: 0;
    top: 10px;
    width: 28px;
}

.burger-menu__line::after {
    top: 0;
    left: 0;
    width: 20px;
    top: -10px;
}

.burger-menu.is-open .burger-menu__line {
    background-color: transparent;
}

.burger-menu.is-open .burger-menu__line::before {
    top: 0;
    width: 40px;
    animation: rotate-burger-before .2s linear .2s forwards;
}

.burger-menu.is-open .burger-menu__line::after {
    top: 0;
    width: 40px;
    animation: rotate-burger-after .2s linear .2s forwards;
}